@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    font-family:"inter", Arial ;
}

body {
    margin: 100px;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    display:flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
}

h1 {
    text-align: center;
    color: grey;
    font-size: 50px;
}

.images {
    display: flex;
    justify-content: space-around;
    height: 300px;
}

img.portrait {
    width: 200px;
    object-fit: cover;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.text {
    margin:20px 0;
    font-size: 0.75em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.reasons {
    color: grey;
}

h2 {
    font-size: 1.33em;
    color: grey;
}

img.hobbies {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px 0;
}