body {
  margin: 0;
  padding: 0;
}
.name {
  display: flex;
  justify-content: center;
}
.name h3 {
  text-align: center;
  margin: 10px;
  display: inline-block;
}
h1 {
  text-align: center;
}
#images {
  display: flex;
  justify-content: center;
}
