body {
    background-color: #eaece5;
}
h1 {
    font-size: 60px;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}

.images {
display: flex;
justify-content: center;
}

img.yuka {
    max-width: 100%;
    height: 400px;
    width: 400px;
    margin-right: 50px;
}

p {
    position: relative;
    text-align: center;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 22px;
}

.list {
    text-align: center;
    list-style: inside;
    font-size: large;
}

